body{
    background: linear-gradient(-60deg, red, yellow);
    height:100vh;
}

#Jellyjar{
  width: 70%;
  height:70%;
    padding-top: 5vh;
    margin-left: 15vw;
    
}
timer{
    text-align: right
}

.row{
    margin-top: 5vh;
}
input{
    text-align: center;
}
#text{
    margin-left: 5vw
}

enterlottery{
    display:none
}
guessamount{
}

waiting {
    display:none
}

#wait {
    margin-left: 2vw;
    margin-top:15vh;
}

.loader {
    margin-left:20vw;
    margin-top:20vh;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid red;
    width: 200px;
    height: 200px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }